In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

dengue_labels = pd.read_csv('../data/dengue_labels_train.csv')
dengue_features = pd.read_csv('../data/dengue_features_train.csv')

merged_df = pd.merge(dengue_labels, dengue_features, on=['city','year', 'weekofyear'], how='inner')
merged_df.head()

,city,year,weekofyear,total_cases,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,4,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,5,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,4,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,3,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,6,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [3]:
rows_with_missing_values = merged_df[merged_df.isna().any(axis=1)]
rows_with_missing_values

,city,year,weekofyear,total_cases,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
5,sj,1990,23,2,1990-06-04,NaN,0.174850,0.254314,0.181743,9.58,...,26.49,79.891429,9.58,17.212857,2.100000,28.114286,6.942857,34.4,23.9,39.1
9,sj,1990,27,6,1990-07-02,NaN,0.121550,0.160683,0.202567,14.41,...,28.40,81.281429,14.41,18.071429,2.014286,28.328571,6.514286,33.9,24.4,1.1
13,sj,1990,31,17,1990-07-30,NaN,0.247150,0.379700,0.381357,32.66,...,34.60,80.584286,32.66,17.594286,2.585714,28.242857,8.085714,34.4,22.8,37.6
14,sj,1990,32,23,1990-08-06,NaN,0.064333,0.164443,0.138857,28.80,...,20.00,79.650000,28.80,17.950000,2.328571,28.200000,7.557143,33.3,23.3,11.4
15,sj,1990,33,13,1990-08-13,NaN,0.128033,0.206957,0.168243,90.75,...,101.90,84.178571,90.75,18.515714,1.857143,28.042857,6.685714,32.8,22.8,44.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,iq,2009,23,3,2009-06-04,0.114000,0.092443,0.097471,0.126286,42.22,...,53.91,95.507143,42.22,16.757143,6.071429,28.100000,11.800000,34.0,22.2,NaN
1409,iq,2009,32,5,2009-08-06,0.395000,0.352733,0.484286,0.401914,9.79,...,34.40,87.811429,9.79,16.337143,11.757143,27.975000,12.100000,35.4,20.5,NaN
1430,iq,2010,53,0,2010-01-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1431,iq,2010,1,10,2010-01-08,0.124571,0.179129,0.163843,0.135471,27.04,...,8.50,78.271429,27.04,16.127143,11.100000,28.600000,12.300000,35.1,21.8,NaN
1444,iq,2010,14,9,2010-04-09,0.242843,0.272757,0.202271,0.260114,93.76,...,164.70,95.182857,93.76,20.078571,7.714286,29.200000,12.300000,35.4,22.5,NaN

In [4]:
# Clean data

for col in merged_df.columns[5:]:
    print(col)
    meanOfRow = merged_df.loc[:,col].mean()
    print("mean: ", meanOfRow)
    rowIndex = merged_df.columns.get_loc(col)
    for index, row in enumerate(merged_df[col]):
        if pd.isna(merged_df.iloc[index,rowIndex]):
            merged_df.iloc[index,rowIndex] = meanOfRow

ndvi_ne
mean:  0.1422935374167987
ndvi_nw
mean:  0.13055257610470083
ndvi_se
mean:  0.20378318902580195
ndvi_sw
mean:  0.20230549071129708
precipitation_amt_mm
mean:  45.760388080388076
reanalysis_air_temp_k
mean:  298.7018524007227
reanalysis_avg_temp_k
mean:  299.22557794902906
reanalysis_dew_point_temp_k
mean:  295.2463564512932
reanalysis_max_air_temp_k
mean:  303.42710926694326
reanalysis_min_air_temp_k
mean:  295.7191562932227
reanalysis_precip_amt_kg_per_m2
mean:  40.15181881051176
reanalysis_relative_humidity_percent
mean:  82.161959098991
reanalysis_sat_precip_amt_mm
mean:  45.760388080388076
reanalysis_specific_humidity_g_per_kg
mean:  16.74642659553451
reanalysis_tdtr_k
mean:  4.903754198774744
station_avg_temp_c
mean:  27.18578337208988
station_diur_temp_rng_c
mean:  8.059328008627128
station_max_temp_c
mean:  32.452437325905294
station_min_temp_c
mean:  22.10214979195562
station_precip_mm
mean:  39.32635983263598

In [5]:
merged_df

,city,year,weekofyear,total_cases,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,4,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,5,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,4,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,3,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,6,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,iq,2010,21,5,2010-05-28,0.342750,0.318900,0.256343,0.292514,55.30,...,45.00,88.765714,55.30,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0
1452,iq,2010,22,8,2010-06-04,0.160157,0.160371,0.136043,0.225657,86.47,...,207.10,91.600000,86.47,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6
1453,iq,2010,23,1,2010-06-11,0.247057,0.146057,0.250357,0.233714,58.94,...,50.60,94.280000,58.94,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4
1454,iq,2010,24,1,2010-06-18,0.333914,0.245771,0.278886,0.325486,59.67,...,62.33,94.660000,59.67,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0
1455,iq,2010,25,4,2010-06-25,0.298186,0.232971,0.274214,0.315757,63.22,...,36.90,89.082857,63.22,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4

In [6]:
rows_with_missing_values = merged_df[merged_df.isna().any(axis=1)]
rows_with_missing_values
# No missing values

Empty DataFrame
Columns: [city, year, weekofyear, total_cases, week_start_date, ndvi_ne, ndvi_nw, ndvi_se, ndvi_sw, precipitation_amt_mm, reanalysis_air_temp_k, reanalysis_avg_temp_k, reanalysis_dew_point_temp_k, reanalysis_max_air_temp_k, reanalysis_min_air_temp_k, reanalysis_precip_amt_kg_per_m2, reanalysis_relative_humidity_percent, reanalysis_sat_precip_amt_mm, reanalysis_specific_humidity_g_per_kg, reanalysis_tdtr_k, station_avg_temp_c, station_diur_temp_rng_c, station_max_temp_c, station_min_temp_c, station_precip_mm]
Index: []

[0 rows x 25 columns]